
html {
    font-size: large;
}

header, footer {
    background-color: aqua;
    position: sticky;
   
}

head {
    top: 0;
}

header, nav, main  {
    display:grid;
    place-content:center;
}
ul li {
    list-style-type: none;

}

body {
    background-color:white;
}

.block {
    width:30vw;
    height:20vw;
    color: black;
    background-color:white;
    padding:1rem;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

nav {
    font-size:larger;

}

.container {
    display: flex;
    flex-direction: column;
    gap:3rem;
}
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 figcaption{
    display: flex;
    justify-content: center;
 }
 
 .holder {
    display: grid;
    grid-template-columns:350px 650px 300px ;
    grid-template-rows: 250px 250px;
    gap:1rem;
 }
 .box {
    background-color: coral;
 }

 .box:first-child {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;
 }

 .box:nth-child(2) {
    grid-row-start: 1;
    grid-row-end:3;
 }
 
 .box:nth-child(3) {
    grid-row-start: 1;
    grid-row-end:3;
 }

 a {
    font-size: larger;
 }
 a:hover,a:active {
    color: orangered;
 }

 /*VERY SMALL*/
 @media screen and (max-width:576px) {
    body {
        font-size: x-small;
    }
    
 }
 /*SMALL*/
 @media screen and (min-width: 576px) {
   body {
font-size: small;
width: auto;
} 
    
}
/*Mediunm*/
@media screen and (min-width:768px)  {
    body {
 font-size: medium;
    }
    
}
/*LARGE*/
@media screen and (min-width:992px)  {
    body {
 font-size:large;
    }
    
}

